@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --album-photo-decrease: 0vh;
    --album-photo-size: calc(43vh - var(--album-photo-decrease));
    --open-lyrics-opacity: 1;
    --show-control-opacity: 0;
    --default-album-photo: linear-gradient(to bottom, #ffffff85, #000000a3);
    --left-position-album-photo: calc(50vw - var(--album-photo-size) / 2);
    --music-control-wrapper-left: calc(50vw - var(--album-photo-size) * 0.45);
    --percen-filled: 0.5;
}

*{
    margin: 0;
    user-select: none;
}
body{
    width: 100%;
    box-sizing: border-box;
    background: black;
    font-family: Inter;
}
.music-playback-wrapper{
    width: 100%;
    height: 100vh;
    perspective: 1400px;
    transition: width 700ms;
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    transition: left 600ms, width 600ms;
    mask-image: linear-gradient(to right, black calc(100% - 50px), transparent 100%);
}
.album-photo{
    width: var(--album-photo-size);
    height: var(--album-photo-size);
    max-width: 602px;
    max-height: 602px;
    background-size: cover;
    top: 10vh;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 50%), 0px 0px 15px 15px rgba(0, 0, 0, 80%);
    border-radius: 5px;
    transition: 
        transform 600ms,
        opacity 600ms,
        z-index 600ms,
        width 600ms,
        height 600ms,
        filter 300ms,
        left 600ms
    ;
    background-image: var(--default-album-photo);
    cursor: pointer;
    left: var(--left-position-album-photo);
}
.album-photo:hover{
    filter: brightness(1.2);
}
.album-photo:active{
    filter: brightness(1.8);
}
.album-photo::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 10px);
    height: 100%;
    background-image: inherit;
    background-size: cover;
    transform: scaleY(-1);
    mask-image: linear-gradient(to top, rgba(255, 255, 255, 50%) 0%, transparent 45%);
    border-radius: inherit;
    border: inherit;
}
.album-photo::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 10px);
    height: 100%;
    backdrop-filter: blur(20px);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 15%) 0%, black 66%);
}
.album-photo::before, .album-photo::after{
    pointer-events: none;
}

.pos-4{
    opacity: 0;
    transform: translateX(calc(var(--album-photo-size) * -0.6 * 2.6)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(55deg) scale(0.2);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 6;
}
.pos-3{
    opacity: var(--open-lyrics-opacity);
    transform: translateX(calc(var(--album-photo-size) * -0.6 * 2.2)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(55deg) scale(0.4);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 7;
    /* animation: test 600ms infinite ease-in-out; */
}
.pos-2{
    opacity: var(--open-lyrics-opacity);
    transform: translateX(calc(var(--album-photo-size) * -0.6 * 1.7)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(55deg) scale(0.6);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 8;
}
.pos-1{
    opacity: 1;
    transform: translateX(calc(var(--album-photo-size) * -0.6)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(55deg) scale(0.8);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 9;
}
.pos0{
    opacity: 1;
    z-index: 10;
    transform: translateY(calc(var(--album-photo-size) * 0.05));
    cursor: auto;
}
.pos0:hover{
    filter: none;
}
.pos1{
    opacity: 1;
    transform: translateX(calc(var(--album-photo-size) * 0.6)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(-55deg) scale(0.8);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 9;
}
.pos2{
    opacity: 1;
    transform: translateX(calc(var(--album-photo-size) * 0.6 * 1.7)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(-55deg) scale(0.6);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 8;
}
.pos3{
    opacity: var(--open-lyrics-opacity);
    transform: translateX(calc(var(--album-photo-size) * 0.6 * 2.2)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(-55deg) scale(0.4);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 7;
}
.pos4{
    opacity: 0;
    transform: translateX(calc(var(--album-photo-size) * 0.6 * 2.6)) translateZ(calc(var(--album-photo-size) * 0.1)) rotateY(-55deg) scale(0.2);
    transform-origin: center center;
    transform-style: preserve-3d;
    z-index: 6;
}

.music-playback-wrapper .wrapper{
    width: calc(var(--album-photo-size) * 0.9);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    position: absolute;
    top: calc(10vh + var(--album-photo-size) + 10vh);
    left: var(--music-control-wrapper-left);
    transition: top 600ms, left 600ms;
}
#music-name{
    color: rgba(255, 255, 255, 60%);
    font-size: 2vh;
    z-index: 20;
    letter-spacing: 5%;
    font-weight: 500;
    transition: opacity 400ms;
}
#music-author{
    color: rgba(255, 255, 255, 40%);
    font-size: 1.5vh;
    z-index: 20;
    letter-spacing: 5%;
    font-weight: 300;
    transition: opacity 400ms;
}
#music-name, #music-author{
    max-width: calc(var(--album-photo-size) * 0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-range-wrapper{
    width: calc(var(--album-photo-size) * 0.9);
    transition: width 600ms, height 600ms, opacity 400ms;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    align-items: center;
    font-size: 1.5vh;
}
.music-range-wrapper p{
    color: white;
    color: rgba(255, 255, 255, 60%);
}
.music-range-bg-wrapper{
    width: calc(var(--album-photo-size) * 0.6);
    height: 10px;
    display: flex;
    align-items: center;
}
.music-range-bg-wrapper .unfilled_range{
    width: calc(var(--album-photo-size) * 0.6);
    height: 10px;
    border-radius: 5px;
    background-color: #AAAAAA;
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.3),
                inset 0px -2px 7px 3px rgba(255, 255, 255, 0.3),
                inset 0px 2px 7px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
}
.music-range-bg-wrapper .filled_range{
    position: absolute;
    width: calc(var(--album-photo-size) * 0.6 * var(--percen-filled));
    height: 10px;
    border-radius: 5px;
    background-color: #555555;
    box-shadow: inset 0px -2px 7px 3px rgba(255, 255, 255, 0.15),
                inset 0px 2px 7px 3px rgba(0, 0, 0, 0.45);
}
#music-range{
    width: calc(var(--album-photo-size) * 0.6);
    height: 10px;
    transition: width 600ms, height 600ms;
    appearance: none;
    position: absolute;
    background: transparent;
}
input:focus, button:focus{
    outline: none;
}
#music-range::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-image: url(img/slider_thumb.png);
    background-size: cover;
    cursor: pointer;
    transition: filter 200ms, transform 200ms;
}
#music-range::-webkit-slider-thumb:hover{
    filter: brightness(1.07);
    transform: rotate(-90deg);
}
.control-buttons-wrapper{
    width: calc(var(--album-photo-size) * 0.7);
    height: calc(var(--album-photo-size) * 0.2);
    transition: width 600ms, height 600ms, opacity 400ms;
    z-index: 20;
    display: flex;
    justify-content: space-between;
}
.control-buttons-wrapper .btn{
    width: calc(var(--album-photo-size) * 0.2);
    height: calc(var(--album-photo-size) * 0.2);
    transition: width 600ms, height 600ms, background-color 200ms;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.control-buttons-wrapper #btn-stop-play{
    width: calc(var(--album-photo-size) * 0.3);
    width: calc(var(--album-photo-size) * 0.3);
}
.control-buttons-wrapper .btn img{
    width: 100%;
    height: 100%;
    user-select: none;
    transition: filter 300ms;
}
.control-buttons-wrapper .btn img:hover{
    filter: brightness(1.2);
}
.control-buttons-wrapper .btn img:active{
    filter: brightness(1.5);
}
.show-control-opacity{
    opacity: var(--show-control-opacity);
}
body>.btn{
    position: absolute;
    color: rgba(255, 255, 255, 70%);
    font-size: 17px;
    background: none;
    border: none;
    cursor: pointer;
    letter-spacing: 5%;
    transition: color 150ms;
}
body>.btn:hover{
    color: rgba(255, 255, 255, 90%);
}
body>.btn:active{
    color: rgba(255, 255, 255, 1);
}
.settings-btn{
    top: 15px;
    right: 15px;
}
.lyrics-btn{
    top: 15px;
    right: 100px;
}

#settings-wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0%);
    display: flex;
    justify-content: center;
    transition: background-color 200ms;
    position: absolute;
    z-index: 38;
    pointer-events: none;
    will-change: top;
}
#settings{
    position: absolute;
    width: 300px;
    height: auto;
    background: repeating-linear-gradient(#F0F0F0, #F0F0F0 4px, #FFFFFF 4px, #FFFFFF 8px);
    z-index: 39;
    top: -480px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 50%), 0px 0px 15px 15px rgba(0, 0, 0, 80%);
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: repeat(7, 50px);
    place-items: center;
}
#settings h2{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

@keyframes openSettings {
    from {
        top: -480px;
    }
    to {
        top: 20px;
    }
}
@keyframes closeSettings {
    from {
        top: 20px;
    }
    to {
        top: -480px;
    }
}

.lyrics-wrapper{
    width: 50%;
    height: calc(100vh - 50px);
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 5vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
    z-index: -1;
}
.lyrics-wrapper p{
    color: rgba(255, 255, 255, 50%);
    font-size: 20px;
    transition: color 200ms, font-weight 200ms, text-shadow 200ms;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}
.lyrics-wrapper p:hover{
    color: rgba(255, 255, 255, 70%);
}
.lyrics-wrapper .wrapper{
    width: 15vh;
    background-color: transparent;
}
.lyrics-wrapper p.active{
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 600;
    text-shadow: 0 0 3px white;
}
.lyrics-wrapper p.active:hover{
    color: rgba(255, 255, 255, 70%);
}
.lyrics-wrapper::-webkit-scrollbar{
    width: 15px;
}
.lyrics-wrapper::-webkit-scrollbar-track{
    background: transparent;
}
.lyrics-wrapper::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 5px solid transparent;
    background-clip: padding-box;
}
.lyrics-wrapper::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255, 25%);
}

/* #photo1{
    background-image: url(img/img8.jpg);
}
#photo2{
    background-image: url(img/img6.jpg);
}
#photo3{
    background-image: url(img/img4.jpg);
}
#photo4{
    background-image: url(img/img5.jpg);
}
#photo5{
    background-image: url(img/img.jpg);
}
#photo6{
    background-image: url(img/img2.jpg);
}
#photo7{
    background-image: url(img/img3.jpg);
}
#photo8{
    background-image: url(img/img7.jpg);
}
*/
/* #photo9{
    background-image: url(img/img9.jpg);
} */


/*  */
._lyrics{
    position: absolute;
    top: 20px;
}
._lyrics{
    left: 20px;
}